<div>
<p class="lead">
  <a class="btn btn-secondary btn-sm" href="/" role="button">Return to Home Page</a>
</p>
</div>
<footer>
  <p>&copy; Copyright Mohamed Assem 2023</p>    
</footer>

<!-- Scripts -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/app.js"></script>
</body>
</html>