<% include partials/header.ejs %>
  
  <div class="container">
    <div class="jumbotron">
      <h1><%= title %></h1>
      <div class="card" style="width: 60%;">
        <img class="card-img-top" src="/images/headshot.jpg" alt="Mohamed Assem">
        <div class="card-body">
          
          <p class="card-text">My name is Mohamed Assem and I hold a Bachelor's of Science in Statistics and Biology from Dalhousie University. I am also currently pursuing a diploma in Software Engineering and Artificial Intelligence at Centennial College. I am particularly interested in utilizing my skills in web development, software engineering, and data analysis 
            to help organizations in sectors like public transport, construction, and electrical utilities to reduce our greenhouse gas emissions.</p>
        </div>

        <!--<a class="btn btn-primary" href="/images/resume.pdf" role="button">My Resume</a>
        -->
        </div>
      
    </div>
  </div>

<% include partials/footer.ejs %>