<% include partials/header.ejs %>
  
  <div class="container">
    <div class="jumbotron">
      <h1><%= title %></h1>
      <p class="lead">Welcome to <%= userName %>'s personal website! </p>
      <hr class="my-4">
      <h5>Mission Statement</h5>
      <blockquote class="blockquote">
        <p class="mb-0">To leverage data analysis and software engineering to protect my planet and its inhabitants
        </p>
      </blockquote>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/aboutme" role="button">About Me</a>
      </p>
    </div>
  </div>

<% include partials/footer.ejs %>