<% include partials/header.ejs %>
  
  <div class="container">
    <div class="jumbotron">
      <h1><%= title %></h1>
      <table class="table table-striped">
        <tr>
          <td>
      <div class="w-100 p-3" style="width: 100%; height:100%; object-fit: contain;">
        <img class="img-fluid" src="/images/webdev_flickr.jpg" alt="Web Development Image from Flickr">
        <div class="card-body">
          <h5 class="card-title">Web Development</h5>
          <p class="card-text"><ul>
            <li>Web Pages (HTML, CSS)</li>
            <li>Web Applications (Javascript, Node.js, Bootstrap)</li>
          </ul>  </p>
        </div>
      </div>
    </td>
    <td>
      <div class="w-100 p-3" style="object-fit: contain;">
        <img class="img-fluid" src="/images/java_flickr.jpg" alt="Mohamed Assem">
        <div class="card-body">
          <h5 class="card-title">Software Engineering</h5>
          <p class="card-text"><ul>
            <li>C#</li>
            <li>Java</li>
          </ul>  </p>
        </div>
      </div>
      </td>
    </tr>
    <tr>
      <td>
      <div class="w-100 p-3" style="width: 100%; height:100%; object-fit: contain;">
        <img class="img-fluid" src="/images/python_flickr.jpg" alt="Mohamed Assem">
        <div class="card-body">
          <h5 class="card-title">Data Analysis</h5>
          <p class="card-text"><ul>
            <li>Python</li>
            <li>R</li>
            <li>SQL</li>
            <li>MATLAB</li>
          </ul>  </p>
        </div>
      </div>
    </td>
    
    <td>
      <div class="w-100 p-3" style="width: 50%; height:100%; object-fit: contain;">
        <a href="https://en-roads.climateinteractive.org/scenario.html?v=22.5.1"><img class="img-fluid" src="/images/enroads.jpg" alt="Mohamed Assem"></a>
        <div class="card-body">
          <h5 class="card-title">Climate Change Solutions Workshops</h5>
          <p class="card-text"><ul>
            <li>Interactive Workshops on Climate Change Solutions using the <a href="https://en-roads.climateinteractive.org/scenario.html?v=22.5.1">En-ROADS simulator</a> </li>
          </ul>  </p>
        </div>
      </div>
    </td>
    </tr>
    </table>
    </div>
  </div>

<% include partials/footer.ejs %>