/*Cascading Stylesheet for Assignment1 COMP229 Summer 2022 - 
By Mohamed Assem - 301163010 - June 6, 2022
*/
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
footer{
  position:fixed;
}
